//- ientacion es equivalente a la gerarquia en pug
//- como crear una clase es con .despues de la etiqueta 
//- para agregar un id # despues de la etiqueta

//- h2.text_center Login
//- b= autenticado
//- if autenticado 
//-     b usuarios autenticado 
//- else 
//-     p usuario no autenticado
//- p#parrafo  Inicia sesion

h1 Pagina de login 
if  autenticado
    p Ingreso correctamente
else 
    p Por favor inicie session
